:root {
    --spacing: 10px;
    --blur: 5px;
    --base: #a3b35d;
}


body {
    background-color: #d3d4d9;
    text-align: center;
    
}
.image {
    margin: 10px;
    padding: 20px;
}
.js {
    color: var(--base);
}

img {
    padding: var(--spacing);
    background-color: var(--base);
    filter: blur(var(--blur));
}